:root {
	--c1: rgb(5, 29, 14);
	--c2: rgb(52, 215, 112);
	--c3: rgb(8, 62, 29);
}
body {
	margin: 0;
	padding: 0;
	font-size: 125%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header {
	background-color: var(--c1);
	color: var(--c2);
	padding: 1em;

}
header nav {
	display: flex;
	gap: 0.5em;

}
header nav > * {
	border: 3px solid var(--c2);
	border-radius: 0.5em;
	padding: 0.4em;

}
nav .selected {
	background-color: var(--c2);
	color: var(--c1);
}
/* -------------------------------------------- */
main {
	flex-grow: 1;
	background-color: var(--c3);
	color: var(--c2);
	padding: 1em;
}
main h2 {
	text-align: center;
	margin: 0 0 0.7em 0;
}
main .form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.2em;
	width: 15em;
	margin: auto;
}
.form label {
	font-weight: bold;
}
.form input {
	font-size: 1em;
	width: 100%;
}
.form button {
	background-color: var(--c2);
	color: var(--c1);
	font-size: 0.9em;
	padding: 0.3em 1.2em;
	border-radius: 0.3em;
	width: 100%;
}
/* -------------------------------------------- */